.RecipeDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
  width: 90%;
}

.IntroContainers {
  display: flex;
  justify-content: space-between;
}

.RecipeDetail h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.RecipeDetail h2 {
  margin-bottom: 0.3rem;
}

.RecipeDetail img {
  width: 100%;
  max-width: 500px;
  margin-bottom: 20px;
}

.paragraph {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.RecipeDetail ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

.RecipeDetail li {
  margin-bottom: 10px;
}

.RecipeDetail .editButton {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .IntroContainers {
    flex-direction: column;
    align-items: center;
  }

  .RecipeDetail h1 {
    font-size: 1.5em;
  }

  .paragraph {
    font-size: 100%;
  }
}